<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @thing) do |thing| %>
            <td><%= thing.name %></td>
            <td><%= thing.description %></td>
            <td><%= link_to 'Show', thing %></td>
            <% if thing.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
            <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
